<h1>Book List</h1>

{% for book in books %}
    <div>
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <p>Published_date: {{ book.published_date }}</p>
        <p>Available: {{ book.is_available }}</p>
    </div>
{% empty %}
    <p>No Books found.</p>
{% endfor %}

{% for book in high_price_book %}
    <div>
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <p>Published_date: {{ book.published_date }}</p>
        <p>Available: {{ book.is_available }}</p>
    </div>
{% empty %}
    <p>No Books found.</p>
{% endfor %}

{% for book in Django_title_book %}
    <div>
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <p>Published_date: {{ book.published_date }}</p>
        <p>Available: {{ book.is_available }}</p>
    </div>
{% empty %}
    <p>No Books found.</p>
{% endfor %}