<h1>All Course Students-List</h1>
<hr>
{% for std in students %}
    <h2>{{ std.name }}</h2>
    <p>Course:{{ std.course }}</p>
    <p>Age:{{ std.age }}</p>
    <p>Email:{{ std.email }}</p>
    <hr>
{% empty %}
    <p>Student Not Found</p>
{% endfor %}


<h1>Django Course Students:</h1>
<hr>
{% for std in django_std %}
    <h2>{{ std.name }}</h2>
    <p>Course:{{ std.course }}</p>
    <p>Age:{{ std.age }}</p>
    <p>Email:{{ std.email }}</p>
    <hr>
{% empty %}
    <p>Student Not Found</p>
{% endfor %}